{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<section class="page-catalogue">
    <h2>Catalogue</h2>
    <section class="contenu-catalogue">
        <nav class="nav-catalogue">
            <ul>
              {% for c in categories %}
                    <li><a href="" alt="{{ c.cat }}" >{{ c.cat }}</a></li>  
                {% endfor %}
            </ul>
        </nav>
    </section>    
</section>



<!--
            <section class="produits">
                <div class="grid"> -->


    
{#         <figure class="effect-winston">
            {% for p in produits %}
            <img src="{{ p.photo }}" alt="">
            <figcaption>
                <h2>{{ p.produit }}</h2>
                <p>         
                    <a href="#">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </p>
            </figcaption>
            {% endfor %}
        </figure> #}


    <!-- PHP
        foreach($afficherProduits as $element) {
            $element = array_map("htmlentities", $element);
            extract($element);
            // $description = mb_strimwidth($description, 0, 50, '... ').'<a href="template-produit.php?idproduit=' . $idproduit . '"></a>';
            echo -->
<!-- <<<CODEHTML
    <figure class="effect-winston">
        <img src="$photo" alt="">
        <figcaption>
            <h2>$produit</h2>
            <p>Liste allergènes</p>
        </figcaption>
    </figure>
CODEHTML;

                    </div> -->

{% endblock %}