{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<section class="page-catalogue">
    <h2>Catalogue</h2>
    <section class="contenu-catalogue">
        <nav class="nav-catalogue">
            <ul>
                {% for c in categories %}
                <li><a href="" alt="{{ c.cat }}" >{{ c.cat }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        </section>
    </section>

<!--
            <section class="produits">
                <div class="grid"> -->

    <!-- PHP

                $requeteSQL = "SELECT * FROM produits WHERE categorie = '1' ORDER BY produit CODESQL";
                $afficherProduits = connexionBDD($requeteSQL, []);
                foreach($afficherProduits as $element) {
                    // debug
                    /*echo "<pre>";
                    print_r($element);
                    echo "</pre>";*/
                    $element = array_map("htmlentities", $element);
                    extract($element);
                    // $description = mb_strimwidth($description, 0, 50, '... ').'<a href="template-produit.php?idproduit=' . $idproduit . '"></a>';
                    echo -->
    <!-- <<<CODEHTML
        <figure class="effect-winston">
            <img src="$photo" alt="">
            <figcaption>
                <h2>$produit</h2>
                <p>Liste allergènes</p>
            </figcaption>
        </figure>
    CODEHTML;

                    </div> -->

{% endblock %}