{% extends 'admin.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}

{% block title %}{% endblock %}

{% block body %}
<main>
<p>Bienvenue sur la page admin</p><br />
<nav>
    <ul>
        <li><a href="./admin/ajouter-produit">Ajouter un nouveau produit</a></li>
        <li><a href="./admin/modifier-produit">Modifier un produit existant</a></li>
        <li><a href="./admin/creer-newsletter">Créer une newsletter</a></li>
        <li><a href="./admin/envoyer-newsletter">Envoyer une newsletter</a></li>
        <li><a href="./admin/ajouter-boutique">Ajouter une boutique</a></li>
        <li><a href="./admin/modifier-boutique">Modifier nos boutiques</a></li>
        <br>
        <li><a href="./admin/logout">Logout</a></li>
    </ul>
</nav>
</main>
{% endblock %}
   
{% endif %}